/*Styles for all pages*/
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

main{ /*code so that jsut the nav bar is fixed for the phone but not footer*/
    margin-top: 90px; /*This is here so that the main content does not overlap with the navigation bar, equivalent to the height of the navbar*/
}

/*Nav bar Styles*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background-color: black;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar ul li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Focus Styles */
.navbar a:focus {
    outline: 2px solid white;
    background-color: white;
    color: black;
}

.breadcrumbs a:focus {
    outline: 2px solid white;
    background-color: white;
    color: black;
}

/* Breadcrumbs Styles */
.breadcrumbs{
    display: flex;
    position: fixed;
    right: 0;
    line-height: 0.05;
    padding-right: 5%;
}

.breadcrumbs ul {
    display: flex;
    justify-content: end;

}

.breadcrumbs ul li{
    display: inline;
    list-style: none;
    text-decoration: none;
}

.breadcrumbs li a{ 
    text-decoration: none;
    color: white;
}

.breadcrumbs li+li::before {
    color: white; 
    content: "/\00a0 ";
}

/*Home page styles*/
.grid-main{
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-right: 5%;
    padding-left: 5%;
}

.title-container {
    position: relative;
    left: 0px;
    line-height: 0.9;
}

.larger{
    font-size: 2em; /*Explain the use of em*/
}

.smaller{
    font-size: 1em;
}

.between{
    font-size: 1.5em;
    margin-right: 15px;
}

hr {
    width: 100%;
}

.body-container {
    position: relative;
    top: 0;
    
}

.body-container p {
    text-align: justify;
    line-height: 2;
    font-size: 100%;
}

/*Footer Styles*/
footer {
    position: relative;
    bottom: 0;
    z-index: 1000;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
    text-decoration: none;
}

footer hr {
    width: 100%;
}

.socials{
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

footer a:focus {
    outline: 2px solid white;
    background-color: black;
    color: black;
}

/*Styles for h1 titles (except home page)*/

.city-name{
    padding-left: 5%;
}

/*gallery pages styles*/
.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/*Contact form style*/


@media screen and (min-width:601px) and (max-width:900px){ /* Adding Media Query for Ipad accessibility reasons?*/


}

@media screen and (min-width:901px) { /* Adding Media Query for laptop accessibility reasons?*/
}

